<!DOCTYPE html>
<html>
<head>
  <title>Heroku_bower_test</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- <link rel="stylesheet" href="https://rawgit.com/tpreusse/radar-chart-d3/master/src/radar-chart.css"> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- <script src="http://d3js.org/d3.v3.js"></script> -->
  <!-- <script src="https://rawgit.com/alangrafu/radar-chart-d3/master/src/radar-chart.js"></script> -->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
